@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme] {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer components {
  .sql-keyword {
    @apply text-primary font-semibold;
  }

  .sql-type {
    @apply text-success font-medium;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}